<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price Unit</th>
            <th>Quantity</th>
            <th>Total Line</th>
        </tr>
    </thead>
    <tbody class="body_line_quotation">

{% for line in quotation.linequotation_set.all %}
<tr class="line_quotation line_product{{line.id}}">
    <td> {{ line.product}}</td>
    <td>{{ line.product.price }} $</td>
    <td>
        <a href="#" id="line-quantity-{{line.id}}" class="editable" data-type="text" data-pk="{{ line.id }}" data-url="{% url 'quotation_field_edit' quotation.id "line.quantity" %}" data-title="qty">{{ line.quantity}}</a>
        </td>
    <td class="total_line" >{{ line.total_line }} $</td>
    <td> <form class="" action="{% url 'quotation_line_delete' line.id %}" method="post">
        <button type="submit" name="button">delete</button>
    </form>
</td>

</tr>
{% endfor %}
</tbody>
<tfoot>
    <tr>
        <td>Total:</td>
        <td> {{ quotation.total }} $ </td>
    </tr>
</tfoot>
<form class="form_add_line" action="{% url 'quotation_line_create'%}" method="post">
    {{line_quotation_form.quotation.as_hidden}}
    {{line_quotation_form.product}}
    {{line_quotation_form.quantity}}
    <button type="submit" class="btn btn-primary" name="button">Add</button>

</form>

</table>
