header {
    nav {
        color: white;
        background: #333333;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul {
            align-self: center;
            list-style-type: none;
            @include noMP;

            li {
                a {
                    font-size: 3rem;
                    color: white;
                    padding: 1rem;
                }
                a:hover {
                    text-decoration: none;
                    color: white;
                    box-shadow: 0px 0px 10px 5px white;
                    border-radius: 5px;
                }
            }
        }

        form {
            padding: 0.5rem;
            box-shadow: 0px 0px 5px 2px black;
            border: 1px solid white;
            border-radius: 5px;
            text-align: center;

            input {

            }

            button {
                color: white;
                background: #333333;
                border: none;
                border-radius: 5px;
                margin: 0 1rem;
            }
            button:hover {
                box-shadow: 0px 0px 6px 2px white;
                border-radius: 5px;
            }
        }
    }
}

@media screen AND (min-width:720px) {
    header {
        nav {
        flex-direction: row;
        padding: 1rem 2rem;
            

            ul {
                align-self: center;

                li {
                    a {
                    }
                }
            }

            form {
                align-self: center;
                input {}

                button {
                }
            }
        }
    }
}

@media screen AND (min-width:1560px) {
    header {
        nav {
            flex-direction: row;
            padding: 1rem 2rem 1rem 5rem;


            ul {
                align-self: center;

                li {
                    a {}
                }
            }

            form {
                align-self: center;

                input {}

                button {}
            }
        }
    }
}