{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Facturier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css'%}" />
</head>

<body>
    {% include 'facturierApp/header.html'%}
    <main>
        {% block aside %}
        <aside>
            {% if request.user.is_authenticated %}
            <h3>Welcome back {{ request.user.username }}!</h3>
            <h3><a class="nav-link" href="/logout">Logout</a></h3>
            <h3><a class="nav-link" href="{% url 'customer_create' %}">Add Customer</a></h3>
            <h3><a class="nav-link" href="{% url 'product_create' %}">Add Product</a></h3>
            <h3><a href="{% url 'quotation_create' %}">Add Quotation</a></h3>
            {% else %}
            <h3>Welcome!</h3>
            <h3><a class="nav-link" href="/login">Login</a></h3>
            {% endif %}
        </aside>
        {% endblock %}
        {% block content %}

        {% endblock %}
    </main>
    {% include 'facturierApp/footer.html'%}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#id_orders_table tbody tr').formset({
                // For inline formsets, be sure to set the prefix, as the default prefix
                // ('form') isn't correct.
                // Django appears to generate the prefix from the lowercase plural
                // name of the related model, with camel-case converted to underscores.
                prefix: 'ordered_items'
            })
        })
    </script>
</body>

</html>
