
{% extends 'facturierApp/base.html'%}


{% block content %}

<!-- Breadcrumbs-->
         <ol class="breadcrumb">
             <li class="breadcrumb-item "><a href="#">admin</a></li>
           <li class="breadcrumb-item">
             <a href="#">Dashboard</a>
           </li>
           <li class="breadcrumb-item active">Overview</li>
           <li class="nav-item">
             <a class="nav-link" href="#">Add Client</a>
           </li>
         </ol>



         <!-- Area Chart Example-->
         <div class="card mb-3">
           <div class="card-header">
             <i class="fas fa-chart-area"></i>
            List Client</div>
           <div class="card-body">

                 {% for client in object_list %}
                 <div class="card">
                      <div class="card-body">
                         <h3 class="card-title"><a href=""> {{ client.firstname }} {{ client.lastname }}</a></h3>
                         <div class="card-text">
                            <h4>Email: {{ client.email }}</h4>
                            <h4>Address: {{ client.address }}</h4>
                            <h4>Telephone: {{ client.tel }}</h4>
                        </div>
                         <a href="#" class="btn btn-primary">Go somewhere</a>
                     </div>
                 </div>
                {% endfor %}

           </div>
           <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
         </div>

         <!-- DataTables Example -->
         <div class="card mb-3">
           <div class="card-header">
             <i class="fas fa-table"></i>
             Data Table Example</div>
           <div class="card-body">
             <div class="table-responsive">

             </div>
           </div>
           <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
         </div>


       <!-- /.container-fluid -->

       <!-- Sticky Footer -->


     <!-- /.content-wrapper -->


   <!-- /#wrapper -->



   <!-- Logout Modal-->
    <!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div> -->

{% endblock %}
