
{% extends 'facturierApp/base.html'%}


{% block content %}

<form class="formArticle" action="." method="post">{% csrf_token %}
    <h4> Register your client</h4>
    <div class="d-block">
        <label for="">Firstname</label>
        {{ form.firstname }}
    </div>
    <div class="">
        <label for="">Lastname</label>
        {{ form.lastname }}
        {{ form.slug}}
    </div>
    <div class=" content">
        <label for="">Email</label>
        {{ form.email }}
    </div>
    <div class="">
        <label for="">Address</label>
        {{ form.address }}
    </div>
     <div class="">
         <label for="">Number</label>
         {{ form.tel }}
     </div>
     <input type="submit" name="submit" value="Save">

</form>



{% endblock %}
