{% extends 'facturierApp/base.html'%}

{% block content %}

<section>
  <h2>List Client</h2>
  {% for client in object_list %}
  <article>
    <h3><a href="{% url 'client_detail' client.slug %}"> {{ client.firstname }} {{ client.lastname }}</a></h3>
    <h4>Email: {{ client.email }}</h4>
    <h4>Address: {{ client.address }}</h4>
    <h4>Telephone: {{ client.tel }}</h4>
    <h5><a href="{% url 'client_detail' client.slug %}">Go ON {{ client.firstname }}</a></h5>
  </article>
  {% endfor %}
</section>

{% endblock %}