{% extends 'facturierApp/base.html'%}

{% block content %}

<section>
  <h2> Customer Detail</h2>
  <article>
    <h3> {{ customer.first_name }} {{ customer.last_name }}</h3>
    <h4>Email: {{ customer.email }}</h4>
    <h4>Address: {{ customer.address }}</h4>
    <h4>Telephone: {{ customer.phone }}</h4>
    {% if perms.facturierApp and perms.facturierApp.change_customer %}
        <a href="{% url 'customer_update' customer.slug %}" class="btn btn-primary">Update {{ customer.first_name }}</a>
    {% endif %}
    <ul>
        {% for quotation in quotations %}
        {% if quotation.customer == customer%}
        <li> <a href="{% url 'quotation_detail' quotation.id %}"> {{quotation.customer.first_name}} {{ quotation.created_at}}</a></li>

        {%endif %}
        {%endfor%}
    </ul>
    <form class="" action="{% url 'customer_remove' customer.slug %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="customer_id" value="{{ customer.id }}">
      {% if perms.facturierApp and perms.facturierApp.delete_customer %}
          <button type="submit" name="removeCustomer">Remove</button>
      {% endif %}
    </form>
  </article>
</section>

{% endblock %}
