{% extends 'facturierApp/base.html'%}

{% block content %}

<section>
<h2> Quotation Detail</h2>
<article class="DetailQuotation">

<section class="flex">
    <dl>
        <dd>Quotation: </dd>
        <dd> #  {{ quotation.pk }}</dd>
        <dt> Creation Date </dt>
        <dd> {{ quotation.created_at}} </dd>
        <dt>Quotation for</dt>
        <dd>
            |<a href="#" id="customer_name" class="editable" data-type="text" data-pk="{{ quotation.id }}" data-url="{% url 'quotation_field_edit' quotation.id "customer.first_name" %}" data-title="Enter Customer name">{{ quotation.customer.first_name }}</a>
            <a href="#" id="customer_name" class="editable" data-type="text" data-pk="{{ quotation.id }}" data-url="{% url 'quotation_field_edit' quotation.id "customer.last_name" %}" data-title="Enter Customer name">{{ quotation.customer.last_name }}</a>

             <br>
            | <a href="#" id="customer_add" class="editable" data-type="text" data-pk="{{ quotation.id }}" data-url="{% url 'quotation_field_edit' quotation.id "customer.address" %}" data-title="Enter Customer address">{{ quotation.customer.address }}</a><br>

            |  <a href="#" id="quotation_status" class="" data-type="select" data-pk="{{ quotation.id }}" data-url="{% url 'quotation_field_edit' quotation.id  'status' %}" data-title="Select status">{{ quotation.status}}</a>

        </dd>
    </dl>
    </section>
    <section class="flex">
        <dl class="bloc" >
            <dl>
                <dt> Attn </dt>
                <dd> Le Big Boss </dd>
                <dt> Phone </dt>
                <dd> 0980498480984</dd>
                <dt> Email</dt>
                <dd> bigboss@bigcompanylongemail.com </dd>
            </dl>
        </dl>
        <dl class="bloc">
            <dt> Service Decription </dt>
            <dd> Deve </dd>
            <dt> Total Periode </dt>
            <dd> 24 Mai au 2 Juin 2014 </dd>
        </dl>
    </section>
    <section class="flex totalPart">

         {% include "facturierApp/partials/quotation_lines.html"  %}


</section>
<div class="validDiv">


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Valider le devis
</button>
</div>


  </article>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h3> Payment: </h3>
          <form id="formSelectPayment" action="" method="post">
              <select class="" name="selectPayment">
                  {% for key, val in payement_choice %}
                  <option value="{{val}}">{{val}}</option>
                  {% endfor %}
              </select>
              <input type="hidden" name="idQuotation" value="{{ quotation.id }}">
          </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button"class="button btnValid" id="btn_valid_quot{{ quotation.id }}" name="btn_valid_quot">Continuer</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
